/* things controlled with pre-defined classes....................... */

/* text-color:
bg-color:
gradient: */

/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: normal;
}

ul {
	list-style: none;
}

button,
input,
select,
textarea {
	margin: 0;
}

html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

img,
embed,
iframe,
object,
audio,
video {
	height: auto;
	max-width: 100%;
}

/*....................mini reset ends............................*/

/*....................Color...................................*/

:root {
	--lighter-black: #404041;
	--light-black: #1c1b20;
	--black: #141315;
	--pure-black: #000000;
	--elevito-gray: #707579;
	--gray: #B7B7B7;
	--light-gray: #f4f4f6;
	--white: #ffffff;
	--red: #fd3e5b;
	--light-red: #e82c43;
	--yellow: #ffcf4e;
	--slate-blue: #626d98;
	--royal-blue: #003748;
	--sky-blue: #25a9e0;
	--dark-blue: #0e2a39;
	--tbt-blue: #005463;
	--light-pink: #ffb7b7;
	--r3-blue: #286b90;
	--elevito-gradient: linear-gradient(to right, #FD3E5B, #F98E37);
	--bbdtimes-gradient: linear-gradient(to right, #6adfff, #005094);
	--gobeyond-gradient: linear-gradient(to right, #469e9c, #006894);
	--reimagine-gradient: linear-gradient(-37.2deg, #f57f3c ,#f83e5b);
	--happymiles-gradient: linear-gradient(to bottom, #d30248, #900248);
	--r3-gradient: linear-gradient(to bottom, #e9805c, #d83b73);
	--elevito-gradient: -webkit-gradient(linear, left top, right top, from(#FD3E5B), to(#F98E37));
	--nav-transition-time: 0.3s ease-in-out;
}



/* ...................common properties........................ */

html,
body {
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	background: var(--white);
}

body, button, form, input, label, select, textarea {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}


/* ........................font-sizes........................... */

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	margin-bottom: 0.5rem;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.2;
	color: inherit;
}

h1,
.h1 {
	font-size: 2.4rem;
}

h2,
.h2 {
	font-size: 2rem;
}

h3,
.h3 {
	font-size: 1.75rem;
}

h4,
.h4 {
	font-size: 1.5rem;
}

h5,
.h5 {
	font-size: 1.25rem;
}

h6,
.h6 {
	font-size: 1rem;
}

p,
.p {
	margin-bottom: 0.3rem;
}

small,
.small {
	margin-bottom: 0.2rem;
}

.display-1 {
	font-size: 6rem;
	font-weight: 300;
	line-height: 1.2;
}

.display-2 {
	font-size: 5rem;
	font-weight: 300;
	line-height: 1.2;
}

.display-3 {
	font-size: 4rem;
	font-weight: 300;
	line-height: 1.2;
}

.display-4 {
	font-size: 3rem;
	font-weight: 300;
	line-height: 1.2;
}

.display-5 {
	font-size: 2rem;
	font-weight: 300;
	line-height: 1.2;
}

.display-6 {
	font-size: 1rem;
	font-weight: 300;
	line-height: 1.2;
}

small,
.small {
	font-size: 90%;
	font-weight: 400;
}

/* ...............text and background formatting........................ */

.text-white {
	color: var(--white);
}

.text-black {
	color: var(--pure-black);
}

.text-red {
	color: var(--red);
}

.text-gray {
	color: var(--gray);
}

.text-light-black {
	color: var(--light-black);
}

.text-lighter-black {
	color: var(--lighter-black);
}

.bg-white {
	background-color: var(--white);
}

.bg-black {
	background-color: var(--black);
}

.bg-light-black {
	background-color: var(--light-black);
}

.bg-lighter-black {
	background-color: var(--lighter-black);
}

.bg-pure-black {
	background-color: var(--pure-black);
}

.bg-gradient-red-yellow {
	background: var(--elevito-gradient);
}

.text-regular {
	font-weight: 400 !important;
}

.text-semi-bold {
	font-weight: 700 !important;
}

.text-bold {
	font-weight: 900 !important;
}

.text-left {
	text-align: left !important;
}

.text-right {
	text-align: right !important;
}

.text-center {
	text-align: center !important;
}

.small-line::after {
	content: '';
	display: block;
	width: 0.7em;
	height: 3px;
	background-color: var(--red);
	margin-top: 4px;
	margin-bottom: 10px;
}

.line-minimum.small-line::after {
	width: 3%;
}

.line-medium.small-line::after {
	width: 9%;
}

.line-large.small-line::after {
	width: 12%;
}

/* .................float properties...................... */

.clearfix::after {
	display: block;
	clear: both;
	content: "";
}

.float-left {
	float: left !important;
}

.float-right {
	float: right !important;
}

.float-none {
	float: none !important;
}
.hide-overflow {
	overflow: hidden;
}

/* ...................image-size handeling................... */

.img-cover img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

.img-contain img {
	width: 100%;
	height: 100%;
	-o-object-fit: contain;
	object-fit: contain;
}

/* ....................content handeling classes...................... */

.center-content {
	min-width: 60%;
	margin: auto;
	padding: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.put-center {
	display: flex;
	flex-direction: row;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.cover-whole-box {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.btn {
	border: 2px solid var(--white);
	background: none;
	padding: 0.1em 1em;
	display: block;
	width: 150px;
	margin: auto;
	margin-top: 20px;
	transition: all 0.2s ease-in-out;
}

.btn:hover {
	background: var(--black);
	border: 2px solid var(--black);
}

/*..............Individual project section.........................*/


.close-project-btn {
	font-size: 70px;
	padding: 0 10px 0 0;
	cursor: pointer;
	transform: scale(1);
	transition: all 0.3s;
}
.close-project-btn:hover {
	transform: scale(1.08);
}

.project-container {
	position: relative;
	width: 100%;
/*	max-height: 600px; /* Fall Back */
/*	min-height: 100vh;*/
}

/*
.cover-vh-height {
	min-height: 500px;
	min-height: 100vh;
}
*/
.project-detail {
	display: flex;
	flex-direction: row;
	padding: 100px;
}
.info-left {
	border-right: 2px solid var(--black);
	padding-right: 15px;
	flex: 30;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.info-right {
	padding-left: 10%;
	flex: 70;
}
.info-left-top {
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
}
.section-c-info-left {
	display: flex;
	align-items: center;
	flex: 60;
	border-right: 2px solid var(--black);
}
.section-c-info-left img {
	width: 70px;
	margin-right: 10px;
}
.section-c-info-left img:nth-child(4) {
	width: 100px;
	margin-right: 0;
}
.section-c-info-right {
	flex: 40;
	padding-left: 30px;
}
.info-right-content {
	padding-left: 20px;
}
.yes-btn {
	padding: 0.5em 1.5em;
	border-radius: 3px;
}
.bottom-space {
	margin-bottom: 600px;
	margin-bottom: 100vh;
}
.next-project {
  position: fixed;
  width: 100%;
  height: 100vh;
	top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
	background: var(--bbdtimes-gradient);
}
.next-project h1 {
	margin-bottom: 100px;
}
.next-project-wrapper {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.project-box {
	position: relative;
	margin-right: 20px;
}
.project-box:nth-child(2) {
	margin-right: 0;
}

/* ................... elements pre-formatted................... */

a {
	text-decoration: none;
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
	cursor: pointer;
}

button,
form,
input,
label,
select,
textarea {
	font-style: inherit;
	font-weight: inherit;
	font-size: inherit;
	line-height: inherit;
	font-family: inherit;
	border: none;
	outline: 0;
	margin: 0;
	padding: 0;
	background: 0 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-clip: padding-box;
	border-radius: 0;
	box-sizing: border-box;
}

::selection {
	background: var(--light-pink);
	/* WebKit/Blink Browsers */
}

::-moz-selection {
	background: var(--light-pink);
	/* Gecko Browsers */
}


/* ...........................used custom classes............................ */

#header {
	position: relative;
	min-height: 500px;
	min-height: 90vh;
}
#header div.bg-black {
  margin-bottom: 5px;
}
.navigation-bar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 5;
}

.logo {
	width: 150px;
	margin: 20px;
}

.logo svg {
	fill: #fff;
	-webkit-transition: fill var(--nav-transition-time);
	transition: fill var(--nav-transition-time);
}

.menu-btn {
	width: 40px;
	height: 35px;
	position: relative;
	margin: 20px;
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
}

.menu-btn span {
	display: block;
	position: absolute;
	height: 6px;
	width: 100%;
	border-radius: 9px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

.menu-btn span:nth-child(1) {
	top: 0px;
}

.menu-btn span:nth-child(2) {
	top: 11px;
	left: -8px;
}

.menu-btn span:nth-child(3) {
	top: 22px;
}

.menu-btn.open span:nth-child(1) {
	top: 11px;
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);
}

.menu-btn.open span:nth-child(2) {
	opacity: 0;
	left: -60px;
}

.menu-btn.open span:nth-child(3) {
	top: 11px;
	-webkit-transform: rotate(-135deg);
	transform: rotate(-135deg);
}


.info-in-white {
	position: relative;
	width: 100%;
	min-height: 600px;
}

.menu {
	-webkit-transition: background .3s linear;
	transition: background .3s linear;
	width: 100%;
	height: 100%;
	position: fixed;
	visibility: hidden;
	top: 0;
	right: 0;
}

.menu.check {
	visibility: visible;
	background: #fff;
	top: 0;
}

.nav-link-content {
	position: absolute;
	right: 80px;
	top: 54%;
	transform: translate(0, -50%);
}

.nav-links {
	padding: 100px 70px 0 0;
	background: var(--red);
	background: var(--elevito-gradient);
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 60% 100%);
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 60% 100%);
	display: block;
	height: 100%;
	position: fixed;
	right: 0;
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
	top: 0;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	width: 65%;
}

.nav-links a {
	color: var(--white);
	display: block;
	line-height: 10px;
	padding: 30px 10px;
	text-align: right;
	text-decoration: none;
	width: 100%;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

.nav-links a:hover {
	color: var(--lighter-black);
}

.nav-links.open-nav {
	clip-path: polygon(40% 0, 100% 0, 100% 100%, 0 100%);
	-webkit-clip-path: polygon(40% 0, 100% 0, 100% 100%, 0 100%);
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

.first-grid-size {
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(6, 1fr);
}

.grid-property {
	display: grid;
	position: relative;
	width: 100%;
	max-width: 100%;
	margin: auto;
	/* use paading-top to maintain aspect ratio  */
	grid-gap: 5px;
	background: var(--white);
	margin-bottom: 5px;
}

.first-grid-size .item1 {
	position: relative;
	grid-column: 1/3;
	grid-row: 1/4;
}

.first-grid-size .item2 {
	grid-column: 3/5;
	grid-row: 1/3;
}

.first-grid-size .item3 {
	grid-column: 5/7;
	grid-row: 1/3;
}

.first-grid-size .item4 {
	grid-column: 1/3;
	grid-row: 4/7;
}

.first-grid-size .item5 {
	grid-column: 3/7;
	grid-row: 3/7;
}

.second-grid-size {
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(5, 1fr);
}

.second-grid-size .item1 {
	grid-column: 1/4;
	grid-row: 1/4;
}

.second-grid-size .item2 {
	grid-column: 4/7;
	grid-row: 1/4;
}

.second-grid-size .item3 {
	grid-column: 1/3;
	grid-row: 4/6;
}

.second-grid-size .item4 {
	grid-column: 3/5;
	grid-row: 4/6;
}

.second-grid-size .item5 {
	grid-column: 5/7;
	grid-row: 4/6;
}

.third-grid-size {
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(6, 1fr);
}

.third-grid-size .item1 {
	grid-column: 1/5;
	grid-row: 1/5;
}

.third-grid-size .item2 {
	grid-column: 5/7;
	grid-row: 1/4;
}

.third-grid-size .item3 {
	grid-column: 1/3;
	grid-row: 5/7;
}

.third-grid-size .item4 {
	grid-column: 3/5;
	grid-row: 5/7;
}

.third-grid-size .item5 {
	grid-column: 5/7;
	grid-row: 4/7;
}

.hover-content {
	position: relative;
}

.secondary-content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	cursor: pointer;
	opacity: 0;
	z-index: 1;
	transition: opacity .3s ease-in-out;
	-moz-transition: opacity .3s ease-in-out;
	-webkit-transition: opacity .3s ease-in-out;
}

/* give the class hover-content to any block to make elements appear on hover.......... */

.hover-content:hover .secondary-content,
.hover-content:active .secondary-content {
	opacity: 1;
}

#section-c {
	display: grid;
	grid-template-columns: 1fr 1fr;
	/* position: relative; */
}

.left,
.right {
	position: relative;
}

.hover-info-left,
.hover-info-right {
	opacity: 0;
	transition: opacity .2s ease-in-out;
	-moz-transition: opacity .2s ease-in-out;
	-webkit-transition: opacity .2s ease-in-out;
	cursor: pointer;
}

.hover-info-show {
	opacity: 1;
}

.hover-info-hide {
	opacity: 0;
}

.footer-wrapper {
	min-height: 500px;
	width: 70%;
	margin: auto;
	padding: 120px 0 10px 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.footer-content-flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.footer-content-flex .tagline p:nth-child(3) {
	margin-top: 30px;
}

.footer-content-flex:nth-child(2) {
	margin-top: 100px;
}

.footer-content-flex .contact div {
	margin-top: 10px;
	margin-bottom: 30px;
}

.elevito-mail {
	margin-top: 10px;
}

.links {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
}

.links .icon {
	width: 35px;
	height: 35px;
	margin-right: 10px;
}


/*..........................services page.............................*/

#love-me-more {
	display: flex;
	width: 90%;
	padding: 90px;
	margin: auto;
	justify-content: space-between;
}

#love-me-more .box {
	margin-right: 30px;
}

#love-me-more .box:nth-child(3) {
	margin-right: 0;
}

#services-grid {
	padding: 6em 5em;
}

.services-box-wrapper {
	width: 100%;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	position: relative;
	grid-gap: 10px;
}

.services-box {
	position: relative;
	width: 100%;
	background: var(--pure-black);
	cursor: pointer;
}

.services-box::after {
	content: '';
	display: block;
	padding-bottom: 100%;
}

/* ..........makes content in the center.................. */

.content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.project-icon svg {
	display: block;
	width: 200px;
	height: 150px;
	width: 30%;
	margin-right: auto;
	margin-left: auto;
}

.project-icon {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
}

.project-icon p {
	margin-top: 15px;
}

.hover-after-content {
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: center;
	font-size: 0.8rem;
	transform: translateY(10%);
	opacity: 0;
	transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
}

.hover-after-content p {
	margin-bottom: 8px;
}

.hover-after-content p::before {
	content: '';
	position: absolute;
	top: 7px;
	left: -10px;
	width: 3px;
	height: 3px;
	background-color: var(--white);
	border-radius: 50%;
}

/* on hover............. */

.services-box:hover .project-icon,
.services-box:active .project-icon {
	opacity: 0;
	transform: translateY(10%);
}

.services-box:hover .hover-after-content,
.services-box:active .hover-after-content {
	opacity: 1;
	transform: translateY(0);
}

#link-to-about {
	position: relative;
	height: 300px;
}



/* ..........................contact.html........................... */

#contact-form {
	padding: 50px;
}

.form-content {
	max-width: 500px;
	margin: auto;
	padding: 5% 0 5% 0;
}

.collapsed {
	max-height: 20px;
}

textarea.collapsed:focus {
	max-height: 170px;
}

.form-content label {
	display: block;
	padding-left: 0px;
	margin: 0 0 24px;
	font-size: 1rem;
}

.form-content span {
	padding: 0 10px 0 0;
	white-space: nowrap;
	width: 1px;
}

.form-content input {
	border-bottom: 1px solid var(--gray);
	font-family: 'Montserrat', sans-serif;
	padding: 0 10px;
	width: 50%;
}

.form-content input:focus,
.form-content textarea:focus {
	border-color: #648AF7;
	color: var(--red);
}

.form-content textarea {
	width: 90%;
	background: var(--white);
	border: 1px solid var(--gray);
	background-clip: padding-box;
	border-radius: 5px;
	display: block;
	font-family: 'Montserrat', sans-serif;
	max-height: 140px;
	margin: 5px 0 0;
	padding: 10px;
	resize: none;
	transition: all 0.2s;
}

.btn-send {
	width: 100px;
	height: 100px;
	display: block;
	margin: 50px auto 0;
	color: var(--red);
	cursor: pointer;
	transform: rotate(0);
	border-radius: 50%;
	border: 6px solid var(--red);
	transition: all 0.3s;
	background-clip: padding-box;
	-webkit-backface-visibility: hidden;
}

.btn-send span {
	padding: 0;
}

.btn-send:hover {
	transform: rotate(45deg);
	color: var(--white);
	background: linear-gradient(45deg, #FD3E5B, #F98E37);
}

.links-content {
	width: 70%;
	margin: auto;
	padding: 50px 0;
	display: flex;
	text-align: center;
	justify-content: space-between;
	border-top: 1px solid var(--gray);
}

.link-blocks {
	margin: 10px;
}

.link-icon img {
	width: 60%;
}

.link-info p:nth-child(1) {
	margin: 5px 0 15px 0;
}

.link-info p:nth-child(2) {
	display: block;
	cursor: pointer;
}

.link-info p:nth-child(2):hover {
	color: var(--lighter-black);
}

#join-our-team {
	position: relative;
	overflow: hidden;
}

.join-team-img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.join-rectangle {
	position: absolute;
	width: 350px;
	height: 350px;
	right: 10%;
	bottom: -10px;
	border: 8px solid var(--white);
}

.join {
	width: 200px;
	position: relative;
	top: 40%;
	left: 60%;
	transform: translate(-50%, -50%);
}

.learn-more {
	position: absolute;
	bottom: 30px;
	left: 50%;
	transform: translateX(-50%);
}

/*...............................about.html................................*/

#elevit-ahead {
	position: relative;
	background: var(--white);
}

.about-elevito {
	width: 80%;
	margin: auto;
	padding: 0 10%;
}

.info {
	position: relative;
	margin-top: 40px;
	display: flex;
}
.info svg {
	width: 100px;
}

.elevito-info p {
	margin-bottom: 15px;
	padding-right: 10px;
}

#who-we-are {
	position: relative;
	padding: 50px 0;
}

#behind-screen {
	position: relative;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 15px;
	justify-content: end;
	padding: 90px;
}

.scene::before {
	content: '';
	display: block;
	padding-bottom: 100%;
}

.scene {
	position: relative;
}

.box5 {
	position: relative;
	grid-column: 2/3;
}

#behind-screen .content {
	display: flex;
	flex-direction: column;
}

#behind-screen .content p {
	width: 80%;
}

.screen-link svg {
	width: 50px;
	height: 50px;
	margin: 10px;
}

.screen-link {
	padding-left: 10%;
	display: flex;
	flex-direction: row;
	margin-top: 10px;
	align-items: center;
	align-self: flex-start;
}

#article-gist {
	background: var(--light-gray);
}

.article-content {
	width: 70%;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px 0;
}

.article {
	width: 100%;
	display: grid;
	grid-template-columns: 70% 30%;
	margin-bottom: 50px;
}

.article-info {
	padding: 20px;
}
.article-img {
	margin: 20px 0;
}

.img-content {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.img-s {
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
}

.article-info small {
	display: block;
	margin-bottom: 10px;
}

.img-content::before {
	content: '';
	display: block;
	padding-bottom: 100%;
}

#some-company {
	position: relative;
}
.some-company-wrapper {
	width: 70%;
	margin: auto;
	padding: 80px 0;
}
.company {
  display: flex;
  justify-content: center;
  margin: 50px;
}
.company .box {
	position: relative;
	width: 100%;
	background: var(--lighter-black);
	margin-right: 20px;
}
.company .box::before {
	content: '';
	display: block;
	padding-bottom: 100%;
}
.company .box:nth-child(2) {
	margin: 0;
}
.company .box div {
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
}


/*...............project sections............*/
.margin-bottom-50 {
	margin-bottom: 50px;
}
#bbdtimes-section-f {
	position: relative;
	background: var(--slate-blue);
}
#bbdtimes-section-k, #dearzindagi-section-d, #dearzindagi-section-i {
	position: relative;
	background: var(--elevito-gray);
}
#awesomeinc-section-i, #awesomeinc-section-f {
	background: var(--yellow);
}
#dearzindagi-section-g {
	background: var(--light-red);
}
#elevito-section-b .info-left {
	border-right: 2px solid var(--white);
}
#elevito-section-e, #elevito-section-g {
	background: var(--gobeyond-gradient);
}
#elevito-section-i {
	background: var(--reimagine-gradient);
}
#happymiles-section-b {
	background: var(--royal-blue);
}
#happymiles-section-b .info-left {
	border-right: 2px solid var(--white);
}
#happymiles-section-k {
	background: var(--happymiles-gradient);
}
#hindigiri-section-d {
	background: var(--sky-blue);
}
#ialse-section-g, #ialse-section-m {
	background: var(--dark-blue);
}
#r3-section-a {
	background: var(--r3-gradient);
}
#r3-section-e {
	background: var(--r3-blue);
}
#tbtapp-section-d, #tbtapp-section-g, #tbtapp-section-h {
	background: var(--tbt-blue);
}


/* these classes are for SVG........................... */

.icon .cls-1 {
	fill: #fff;
	stroke: none;
}

.icon .cls-2 {
	fill: #424143;
	stroke: none;
}









/* ............................MEDIA QUERIES....................................... */
/* .................................................................................... */
/* .................................................................................... */
/* .................................................................................... */
@media screen and (max-width: 991px) {
	#love-me-more {
    padding: 80px 20px;
		width: 100%;
		font-weight: normal;
	}
	p.h6 {
		font-weight: normal;
	}


@media screen and (max-width: 768px) {
	html, body {
		font-size: 0.85rem;
	}
	.menu.check {
		width: 0;
	}
	.nav-links {
		-webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
		clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
		width: 100%;
	}
	.nav-links.open-nav {
		-webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
		clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
	}
	.footer-wrapper {
		width: 80%;
    padding: 80px 0 10px 0;
	}
	.center-content {
    min-width: 95%;
    padding: 20px;
	}
	.info-in-white {
    min-height: 500px;
	}
	.services-box-wrapper {
    grid-template-columns: repeat(2, 1fr);
	}
	.project-icon p.h6 {
		font-size: 1.3rem;
	}
	#behind-screen {
    grid-template-columns: repeat(2, 1fr);
		padding: 50px;
	}
	.screen-link svg {
		width: 20%;
	}
	.screen-link a {
		font-size: 1rem;
	}
	.article-content {
    width: 80%;
	}
	.article-info {
    padding-left: 0;
  }
	.scene p.h3 {
    font-size: 1.9rem;
	}
	.some-company-wrapper {
    width: 90%;
	}
	.company {
    margin: 80px 0px;
	}
	#contact-form {
    padding: 50px 0;
	}
	.form-content {
    padding: 40px 10px;
	}
	.form-content input {
		display: block;
		width: 100%;
	}
	.form-content span {
		display: block;
		width: 100%;
		padding: 0;
		margin-bottom: 10px;
	}
	.form-content textarea {
		width: 100%;
	}
	.btn-send span {
		font-size: 1.5rem;
    margin-bottom: 0px;
	}
	.links-content {
		width: 100%;
	}
	.join-rectangle {
    width: 250px;
    height: 250px;
	}
}


@media screen and (max-width: 575px) {
	html, body {
    font-size: 0.8rem;
	}
	.nav-link-content {
		right: 65px;
		top: 50%;
	}
	footer .tagline {
    margin-bottom: 35px;
	}
	.footer-content-flex {
    flex-direction: column;
	}
	.footer-content-flex .contact div {
    margin-bottom: 20px;
	}
	.footer-content-flex:nth-child(2) {
    margin-top: 50px;
	}
	.links {
    width: 100%;
    justify-content: space-around;
	}
	/* .....grid handeling............. */
	.grid-property {
		display: flex;
    flex-direction: column;
		/* padding: 0px 10px 0 10px; */
		padding: 0;
	}
	#love-me-more {
		flex-direction: column;
    padding: 80px 30px;
	}
	#love-me-more .box {
    margin-bottom: 20px;
	}
	.services-box-wrapper {
    grid-template-columns: repeat(1, 1fr);
	}
	.info {
    flex-direction: column;
	}
	.elevito-icon {
		display: none;
	}
	#behind-screen {
    grid-template-columns: repeat(1, 1fr);
	}
	.box5 {
    grid-column: 1/1;
	}
	.scene p.h3 {
		font-size: 2.5rem;
	}
	.screen-link a {
    font-size: 1.5rem;
	}
	.article {
    grid-template-columns: 1fr;
	}
	.article .article-img {
		grid-row: 1/2;
	}
	.img-content::before {
    padding-bottom: 50%;
	}
	.company {
    margin: 50px 20px;
	}
	.join-rectangle {
    width: 200px;
    height: 200px;
	}
	.join-rectangle .join p {
		font-size: 1.5rem;
	}
	.learn-more p {
		font-size: 1.2rem;
	}
	.links-content {
		flex-direction: column;
	}
	.link-icon img {
    width: 30%;
	}
}
